
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
.site-section {
  text-align: center;
  padding-bottom: 70px;
}
.row{
	margin: 5%;
}
.table-bordered{
	margin:5%; 
}
dd {
	 font-style: italic; /* Курсивное начертание текста */
	}
dt {
	 margin-top: 1em; /* Отступ сверху */
	}
	p {
	    text-indent: 20px; /* Отступ первой строки в пикселах */
	 }
